body{
    background-color: rgba(244, 255, 205, 0.836);
    text-align:center;
}

ul{
	list-style-position: inside;
}

p{
    color:cornflowerblue;
}

h2{
    color: darkblue;
}

span{
    color: black;
}
span:hover{
    color: cadetblue;
}

.menu{
    background-color: rgb(119, 168, 107);
    max-height: 50px;
    text-align: center;
    padding: 10px;
}

.menu-footer{
    background-color: rgb(119, 168, 107);
    max-height: 50px;
    text-align: center;
    padding: 10px;
}

#baslik {
    color: crimson;
    padding-top: 30px;
}

.urunler{
    text-align: left;
    margin-left: 45%;
    margin-right: 40%;
}

.urunler a{
    text-decoration: none;
    color: rgb(223, 43, 193);
}

.urunler img{
    width: 200px;
    height: 100px;
}

.btn{
    background-color: deepskyblue;
    border-radius: 10px;
    color: gainsboro;
    font-size: 1em;
    margin-bottom: 10px;
    border: 1px solid ;
}

.btn:hover{
    background-color:grey;
    border-radius: 10px;
    color: gainsboro;
    font-size: 1em;
    margin-bottom: 10px;
    border: 1px solid ;
}

.urun img{
    width: 500px;
    height: unset;
}